h1{
     font-size: 6em;
     font-family: arial, helvetica;
     text-align: center;
     color:white;
     background:black;
     border-style: double;
     border-width: 7px;
     border-color: red;
	 margin-top: 0;
	 margin-bottom: 0;
	 margin-right: 2.8em;
	 margin-left: 2.8em;
	 
	 
}

h2{
   font-size: 2em;
   font-family: arial, helvetica;
   text-decoration: underline;
   text-align:center;

   
   
   
}

p{
  font-size: 1em;
  font-family: arial, helvetica;
  text-align:center;
  
  
     img-align:center;
	 }