h1{
     font-size: 6em;
     font-family: arial, helvetica;
     text-align: center;
     color:white;
     background:black;
	 border: 7px red double;
	 margin-top:0;
     margin-bottom:0;
     margin-right:2.8em;
     margin-left:2.8em;
	 
	 
}

h2{
   font-size: 2em;
   font-family: arial, helvetica;
   text-align:center;
   font-style: underline;
   color:white;
   background:black;
   border: 7px red double;
   margin-top:0;
   margin-bottom:0;
   margin-right:8.4em;
   margin-left:8.4em;
  }

  h3{
  font-size: 2em;
  font-family: arial, helvetica;
  text-align: center;
  color: white;
  background: black;
  border: 7px red double;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 8.8em;
  margin-left: 8.8em;
  }
  
 
  
	 
body{
	     text-align: center
	  
	
		
		
		 }
p {      font-size: 1em;
        font-family:arial, helvetica;
		}
		 
a{
		    font-size: 2em;
			font-family:arial, helvetica;


}
body{
     background:url(crab.GIF) ;
	 
	 

	   



		
			
			
			
		  